!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %link{ :href => "/css/style.css", :rel => "stylesheet", :type => "text/css" }
    %title #{message}
  %body
    #header
      / template header content goes here
      %h2< #{t.g.welcome}
    #content
      = yield
    #footer
      / template footer content goes here
      %p<
        [
        -if nav_tag == 'privacy'
          #{t.nav.privacy_button}
        -else
          %a{:href=>'/privacy'}#{t.nav.privacy_button}
        |
        -if nav_tag == 'terms'
          #{t.nav.terms_button}
        -else
          %a{:href=>'/terms'}#{t.nav.terms_button}
        |
        -if nav_tag == 'login'
          #{t.nav.login_button}
        -else
          %a{:href=>'/'}#{t.nav.login_button}
        |
        -if nav_tag == 'forgot_password'
          #{t.nav.forgot_password_button}
        -else
          %a{:href=>'/forgot_password'}#{t.nav.forgot_password_button}
        -if name != '' && nav_tag != 'logout'
          | #{t.nav.not_you(name)}
          %a{:href=>'/logout'}#{t.nav.log_out_completely_button}
        -elsif name == '' && nav_tag != 'register'
          |
          %a{:href=>'/register'}#{t.nav.register_button}
        -elsif name == '' && nav_tag == 'register'
          | #{t.nav.register_button}
        ]
