!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "#{i18n.locale.code}", :lang => "#{i18n.locale.code}", :encoding =>'utf-8' }
  %head
  %meta{ :'http-equiv' => "Content-Type", :content => "text/html; charset=UTF-8"}
    %link{ :href => "/css/style.css", :rel => "stylesheet", :type => "text/css" }
    %title #{message} #{user.username}
  %body
    #header
      / template header content goes here
      #welcome_message
        %p< #{t.g.you_are_logged_in_as(user.username)}
        -if nav_hint != 'edit_profile' && nav_hint != 'edit_user'
          #locale_selector
            =haml(:'chunks/change_locale_menu_form')
    #content
      = yield
    #footer
      %p<
        [
        -if nav_hint == 'home'
          #{t.nav.home_button}
        -else
          %a{:href=>'/'}#{t.nav.home_button}
        |
        -if nav_hint == 'profile'
          #{t.nav.profile_button}
        -else
          %a{:href=>'/profile'}#{t.nav.profile_button}
        |
        -if nav_hint == 'edit_profile'
          #{t.nav.edit_profile_button}
        -else
          %a{:href=>'/profile/edit'}#{t.nav.edit_profile_button}
        |
        -if user.has_role?('admin')
          -if nav_hint == 'list_users'
            #{t.nav.list_users_button}
          -else
            %a{:href=>'/users'}#{t.nav.list_users_button}
          |
          #{t.nav.list_roles_button}
          |
        -if nav_hint == 'privacy'
          #{t.nav.privacy_button}
        -else
          %a{:href=>'/privacy'}#{t.nav.privacy_button}
        |
        -if nav_hint == 'terms'
          #{t.nav.terms_button}
        -else
          %a{:href=>'/terms'}#{t.nav.terms_button}
        |
        -if nav_hint == 'logout'
          #{t.nav.logout_button}
        -else
          %a{ :href => "/logout" }#{t.nav.logout_button}
        ]
