#message_box
  %h3 #{message}
#user_list
  %ol
    - for a_user in user_list do
      %li<
        - if a_user.id == user.id
          %a{:href => '/profile'}#{a_user.username} *
          (
          %a{:href => "/profile/edit"}#{t.nav.edit_profile_button}
          )
        - else
          %a{:href => "/user/#{a_user.id}"}#{a_user.username}
          - if user.has_role?('superuser') || !a_user.has_role?('admin')
            (
            %a{:href => "/user/edit/#{a_user.id}"}#{t.nav.edit_user_button}
            )
#user_buttons
  [
  %a{:href => '/user' }#{t.nav.create_user_button}
  |
  %a{:href => '/role' }#{t.nav.create_role_button}
  ]
