#user_list
  %h2 #{message}
  %ol
    - for a_role in role_list do
      %li<
        #{a_role.name}
        - if (user.has_role?('admin') && !is_blessed_role?(a_role))
          (
          %a{:href => "/role/edit/#{a_role.name}"}< #{t.edit}
          |
          %form{ :action => "/role/delete/#{a_role.name}", :'accept-charset' => 'UTF-8', :method => 'POST' }
            %input{:type => "submit", :value => "#{t.nav.delete_role_button}"}
          )
