#message_box
  %h3< #{message}
#user_details
  %table
    %tr<
      %th> #{t.labels.username_label}
      %td #{user.username}
    %tr<
      %th> #{t.labels.email_label}
      %td #{user.email}
    %tr<
      %th{ :colspan => "2" }#{t.preferences(user.preferences.size)}
    - for pref in user.preferences
      %tr<
        %th>= pref.name
        %td= pref.value
-if !user.has_role?('admin')
  #self_destruct
    %form(accept-charset='UTF-8' action='/delete_self' method='post')
      %input{ :type=>"submit", :value => t.nav.delete_me_button}
