#details
  %p 
  %table
    %tr<
      %th> #{t.labels.username_label}
      %td #{active_user_name}
    %tr<
      %th> #{t.labels.email_label}
      %td #{active_user.email}
    %tr<
      %th{ :colspan => "2" }#{t.preferences(active_user.preferences.size)}
    - for pref in active_user.preferences
      %tr<
        %th>= pref.name
        %td= pref.value
-if !active_user.has_role?('admin')
  #self_destruct
    %form(accept-charset='UTF-8' action='/delete_self' method='post')
      %input{ :type=>"submit", :value => t.nav.delete_me_button}
